<!DOCTYPE html>
<html>
  <head>
    <title><%= skillName %></title>
  </head>
  <body>
    <h1><%= skillName %></h1>
    <p>Skill ID: <%= skillId %></p>
    <p id="skill-status">Skill Uploading...</p>

    <form action="/skills/alexa/<%= skillName %>/interaction_model" method="get" id="interaction-model">
      <input id="skillId" type="hidden" name="skillId" value="<%= skillId %>">
      <input type="submit" value="Build Interaction Model"/>
    </form>
    <br/>
    <a href="/skills">Back to Main Menu</a>
  <script type="text/javascript">
    let status = <%-JSON.stringify(status)%>;
    if (status === 'SUCCEEDED') {
      document.getElementById('skill-status').innerHTML = 'Skill Upload Successful!';
      document.getElementById('interaction-model').style.visibility = 'visible';
    }
  </script>
    <!-- Scripts -->
      <script src="jquery.min.js"></script>
      <script src="jquery.scrolly.min.js"></script>
      <script src="jquery.scrollex.min.js"></script>
      <script src="skel.min.js"></script>
      <script src="util.js"></script>
      <script src="main.js"></script>
  </body>
  <footer>
    <% include ../../partials/footer %>
  </footer>
</html>
